html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
}

header {
  width: 100%;
  max-width: 980px;
}

main {
  width: 100%;
  max-width: 980px;
}

/*
main div{
  border-style: solid;
}
*/

footer {
  width: 100%;
  max-width: 980px;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

.navigation ul {
  list-style: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 20px 20px;
}

.navigation a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px 20px;
}

.navigation li {
  padding: 12px 12px;
}

.navigation a:hover {
  background:grey;
}

.mainContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 40px 0px;
  justify-items: center;
}

.mainContainer img {
  max-width: 100%;
  height: auto;
}

.mainText {
  text-align: justify;
  margin: 0px 10px;
}

.mainText h2 {
  margin: 0px;
}

.mainImage figure {
  text-align: center;
  margin: 4px 10px;
}

.footerContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
}

.footerContainer a {
  color: white;
  padding: 0px 5px;
}

.footerContainer p {
  color: white;
  padding: 0px 5px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 3.5rem;
  }

  .mainContainer {
    display: grid;
    grid-template-columns: 100%;
    margin: 40px 0px;
    justify-items: center;
  }

  body {
    font-size: 1.7rem;
  }

}