html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1px;
}

header {
  width: 100%;
  max-width: 980px;
  border-style: solid;
  padding: 10px;
}

main {
  width: 100%;
  max-width: 980px;
  border-style: solid;
  padding: 10px;
}

footer {
  width: 100%;
  max-width: 980px;
  border-style: solid;
  padding: 10px;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

.navigation ul {
  list-style: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 20px 20px;
}

.navigation a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 21px 21px;
}

.navigation a:hover {
  background:grey;
}

.mainContainer {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 20px;
  padding: 5px;
}
