@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,700&family=Quicksand&display=swap');
html {
    /* Setting a base font size of 10px give us easier rem calculations
         Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
       */
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    font-size: 1.8em;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    padding: 0px 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

.navigation ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 10px;
}

.navigation a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 14px 14px;
}

.navigation li {
    padding: 12px 12px;
}

.navigation a:hover {
    background: rgba(255, 255, 255, 0.72);
}

.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: #ededed;
}

.signup-group {
    display: flex;
    position: relative;
    padding: 0px 20px;
}

.signup-input {
    font-family: 'Mulish', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background: #fff;
    border: 1px solid #000;
    min-height: 30px;
    padding: 10px;
    width: 100%;
    font-size: 1.7rem;
    width: 250px;
}

.signup-button {
    font-family: 'Mulish', sans-serif;
    font-family: 'Quicksand', sans-serif;
    min-height: 30px;
    background: #000;
    color: #fff;
    font-size: 1.7rem;
    transition: width .5s ease;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color .5s ease;
    cursor: pointer;
    font-weight: bold;
}

.what {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 1000px;
    background-image: url(https://github.com/robsoncsoares/responsivewebprojects/blob/master/landing_page/img/background.jpeg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footerContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerContainer a {
    color: black;
    padding: 0px 5px;
}

.footerContainer p {
    color: black;
    padding: 0px 5px;
    text-align: center;
}

@media (max-width: 930px) {
    .signup-form {
        flex-direction: column;
        align-items: center;
    }
    .signup-button {
        min-height: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .signup-input {
        min-height: 10px;
        padding: 10px;
        width: 100%;
        width: 200px;
    }
}


/*
.mainContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 40px 0px;
    justify-items: center;
}

.mainContainer img {
    max-width: 100%;
    height: auto;
}

.mainText {
    text-align: justify;
    margin: 0px 10px;
}

.mainText h2 {
    margin: 0px;
}

.mainImage figure {
    text-align: center;
    margin: 4px 10px;
}
*/


/*
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 3.5rem;
    }
    .mainContainer {
        display: grid;
        grid-template-columns: 100%;
        margin: 40px 0px;
        justify-items: center;
    }
    body {
        font-size: 1.7rem;
    }
}
*/