@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,700&family=Quicksand&display=swap');
html {
    /* Set font size for easy rem calculations
    * default document font size = 16px, 1rem = 16px, 100% = 16px
    * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    font-size: 1.8em;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0vh;
    left: 0;
    padding: 0px 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

.navigation ul {
    list-style: none;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 8px 8px;
}

.navigation a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 12px 12px;
}

.navigation li {
    padding: 8px 8px;
}

.navigation a:hover {
    background: rgba(255, 255, 255, 0.72);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/robsoncsoares/responsivewebprojects/master/personal_portifolio_page/img/about_backgorund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-section h1 {
    color: white;
    margin-bottom: 350px;
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/robsoncsoares/responsivewebprojects/master/personal_portifolio_page/img/contacts_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts h1 {
    color: white;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.contact-links a {
    text-decoration: none;
    color: white;
}

.contact-details {
    margin: 20px;
    font-size: 1.5em;
}

.footerContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerContainer a {
    color: black;
    padding: 0px 5px;
}

.footerContainer p {
    color: black;
    padding: 0px 5px;
    text-align: center;
}

.portifolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px 10px;
    background-color: lavender;
}

.card img {
    width: 600px;
    height: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardcontainer {
    padding: 2px 16px;
}

@media (max-width: 930px) {
    body {
        font-size: 2rem;
    }
    .contact-details {
        font-size: 1.5em;
    }
    .card img {
        height: calc(100% - 6.8rem);
        width: 100%;
        object-fit: cover;
    }
}